
<h2>ADMIN-UI</h2>
<div id="snackbar"></div>
<form class="searchBox">
<input type="search" class="search" id ="search" placeholder="Search by Name,Email and Role..." onkeyup="searchUsers()">
</form>
<p>hi hello{{apple}}</p>
<div class="entry">
<table class="table1" id="table">
<thead>
<tr>
<th><input type="checkbox" id="select-all" onclick="selectAll()"></th>
<th>Name</th>
<th>Email</th>
<th>Role</th>
<th>Action</th>
</tr>
</thead>
<tbody id="users">
</tbody>
</table>
</div>
<div id="delete-all">
<button class ="delete-All" onclick="deleteAll()"><image src="../images/trash.svg"> All </button>
</div>
<div id ="pagination" class = "pagination">
</div>
<script src="./javascripts/admin.web.js"></script>
<script>
function loadPageList() {
  const tbody = document.getElementById('users');

  
  const x = (pagelist) => {
      tbody.innerHTML = '';
      pagelist.forEach((user, idx) => {
        const row = document.createElement('tr');

        row.className = user.hasOwnProperty('checked') ? 'selected' : '';
        const check = document.createElement('td');
        const checkbox = document.createElement('input');
        checkbox.setAttribute('type', 'checkbox');
        checkbox.onclick = () => selectUser(idx + 1);
        const Name = document.createElement('td');
        const Email = document.createElement('td');
        const Role = document.createElement('td');
        const Action = document.createElement('td');
        Action.setAttribute('class', 'editDelete');
        checkbox.checked = user.hasOwnProperty('checked');
        checkbox.value = user.id;
        check.appendChild(checkbox);
        Name.innerHTML = "<input type='text' value =" + user.name + '>';
        Email.innerHTML = "<input type='text' value =" + user.email + '>';
        Role.innerHTML = "<input type='text' value =" + user.role + '>';
        Action.innerHTML =
          '<img id="edit" onclick="editUser(' +
          (idx + 1) +
          ')" src="../images/pencil-square.svg"/><img id="delete" onclick="deleteUser(' +
          (idx + 1) +
          ')" src="../images/trash.svg"/>';
        row.append(check, Name, Email, Role, Action);
        tbody.appendChild(row);
      }
  pageSetup();
}
</script>

 